USE [QuitSmartDesktop]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 7/9/2025 8:49:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserId] [uniqueidentifier] NOT NULL,
	[Username] [nvarchar](50) NOT NULL,
	[Email] [nvarchar](255) NOT NULL,
	[PasswordHash] [nvarchar](255) NOT NULL,
	[FullName] [nvarchar](100) NOT NULL,
	[DateOfBirth] [date] NULL,
	[Gender] [nvarchar](10) NULL,
	[IsActive] [bit] NULL,
	[CreatedAt] [datetime2](7) NULL,
	[UpdatedAt] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserProfiles]    Script Date: 7/9/2025 8:49:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserProfiles](
	[ProfileId] [uniqueidentifier] NOT NULL,
	[UserId] [uniqueidentifier] NOT NULL,
	[QuitStartDate] [date] NOT NULL,
	[QuitGoalDate] [date] NULL,
	[CigarettesPerDay] [int] NOT NULL,
	[PricePerPack] [decimal](10, 2) NOT NULL,
	[CigarettesPerPack] [int] NULL,
	[SmokingYears] [int] NULL,
	[QuitReason] [nvarchar](500) NULL,
	[CreatedAt] [datetime2](7) NULL,
	[UpdatedAt] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[ProfileId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserStatistics]    Script Date: 7/9/2025 8:49:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserStatistics](
	[StatId] [uniqueidentifier] NOT NULL,
	[UserId] [uniqueidentifier] NOT NULL,
	[TotalDaysQuit] [int] NULL,
	[TotalMoneySaved] [decimal](10, 2) NULL,
	[CurrentStreak] [int] NULL,
	[LongestStreak] [int] NULL,
	[LastCalculatedAt] [datetime2](7) NULL,
	[UpdatedAt] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[StatId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserBadges]    Script Date: 7/9/2025 8:49:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserBadges](
	[UserBadgeId] [uniqueidentifier] NOT NULL,
	[UserId] [uniqueidentifier] NOT NULL,
	[BadgeId] [uniqueidentifier] NOT NULL,
	[EarnedAt] [datetime2](7) NULL,
	[IsNotified] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[UserBadgeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[UserOverview]    Script Date: 7/9/2025 8:49:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- SECTION 7: CREATE VIEWS
-- =============================================

-- User overview for admin dashboard
CREATE VIEW [dbo].[UserOverview] AS
SELECT 
    u.[UserId],
    u.[Username],
    u.[Email],
    u.[FullName],
    u.[Gender],
    u.[IsActive],
    u.[CreatedAt],
    up.[QuitStartDate],
    up.[CigarettesPerDay],
    up.[PricePerPack],
    up.[QuitReason],
    us.[TotalDaysQuit],
    us.[TotalMoneySaved],
    us.[CurrentStreak],
    us.[LongestStreak],
    (SELECT COUNT(*) FROM [UserBadges] ub WHERE ub.[UserId] = u.[UserId]) AS TotalBadges
FROM [Users] u
LEFT JOIN [UserProfiles] up ON u.[UserId] = up.[UserId]
LEFT JOIN [UserStatistics] us ON u.[UserId] = us.[UserId]
WHERE u.[IsActive] = 1
GO
/****** Object:  Table [dbo].[DailyLogs]    Script Date: 7/9/2025 8:49:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DailyLogs](
	[LogId] [uniqueidentifier] NOT NULL,
	[UserId] [uniqueidentifier] NOT NULL,
	[LogDate] [date] NOT NULL,
	[HasSmoked] [bit] NULL,
	[HealthStatus] [nvarchar](20) NULL,
	[Notes] [nvarchar](255) NULL,
	[CreatedAt] [datetime2](7) NULL,
	[UpdatedAt] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[LogId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[HealthTrackingOverview]    Script Date: 7/9/2025 8:49:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Health tracking overview
CREATE VIEW [dbo].[HealthTrackingOverview] AS
SELECT 
    u.[UserId],
    u.[FullName],
    dl.[LogDate],
    dl.[HasSmoked],
    dl.[HealthStatus],
    dl.[Notes],
    us.[CurrentStreak],
    us.[TotalDaysQuit]
FROM [DailyLogs] dl
INNER JOIN [Users] u ON dl.[UserId] = u.[UserId]
LEFT JOIN [UserStatistics] us ON u.[UserId] = us.[UserId]
WHERE u.[IsActive] = 1
GO
/****** Object:  Table [dbo].[BadgeDefinitions]    Script Date: 7/9/2025 8:49:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BadgeDefinitions](
	[BadgeId] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Description] [nvarchar](500) NULL,
	[IconPath] [nvarchar](500) NULL,
	[BadgeType] [nvarchar](50) NOT NULL,
	[RequiredValue] [decimal](10, 2) NOT NULL,
	[IsActive] [bit] NULL,
	[CreatedAt] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[BadgeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[UserBadgeCollection]    Script Date: 7/9/2025 8:49:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Badge collection view
CREATE VIEW [dbo].[UserBadgeCollection] AS
SELECT 
    u.[UserId],
    u.[FullName],
    bd.[Name] AS BadgeName,
    bd.[Description] AS BadgeDescription,
    bd.[IconPath],
    bd.[BadgeType],
    ub.[EarnedAt]
FROM [UserBadges] ub
INNER JOIN [Users] u ON ub.[UserId] = u.[UserId]
INNER JOIN [BadgeDefinitions] bd ON ub.[BadgeId] = bd.[BadgeId]
WHERE u.[IsActive] = 1 AND bd.[IsActive] = 1
GO
/****** Object:  Table [dbo].[AdminLogs]    Script Date: 7/9/2025 8:49:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AdminLogs](
	[LogId] [uniqueidentifier] NOT NULL,
	[AdminId] [uniqueidentifier] NOT NULL,
	[Action] [nvarchar](100) NOT NULL,
	[TargetUserId] [uniqueidentifier] NULL,
	[Details] [nvarchar](500) NULL,
	[CreatedAt] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[LogId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Admins]    Script Date: 7/9/2025 8:49:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Admins](
	[AdminId] [uniqueidentifier] NOT NULL,
	[Username] [nvarchar](50) NOT NULL,
	[Email] [nvarchar](255) NOT NULL,
	[PasswordHash] [nvarchar](255) NOT NULL,
	[FullName] [nvarchar](100) NOT NULL,
	[IsActive] [bit] NULL,
	[LastLoginAt] [datetime2](7) NULL,
	[CreatedAt] [datetime2](7) NULL,
	[UpdatedAt] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[AdminId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HealthInfo]    Script Date: 7/9/2025 8:49:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HealthInfo](
	[InfoId] [uniqueidentifier] NOT NULL,
	[Title] [nvarchar](200) NOT NULL,
	[Content] [nvarchar](max) NOT NULL,
	[InfoType] [nvarchar](50) NOT NULL,
	[IsActive] [bit] NULL,
	[CreatedAt] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[InfoId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MotivationalMessages]    Script Date: 7/9/2025 8:49:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MotivationalMessages](
	[MessageId] [uniqueidentifier] NOT NULL,
	[Title] [nvarchar](200) NULL,
	[Content] [nvarchar](1000) NOT NULL,
	[MessageType] [nvarchar](50) NOT NULL,
	[IsActive] [bit] NULL,
	[CreatedAt] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[MessageId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[AdminLogs] ([LogId], [AdminId], [Action], [TargetUserId], [Details], [CreatedAt]) VALUES (N'c5b22031-dde9-4592-a7b8-00039eaac508', N'ccbda6a7-698b-4d58-8b02-fad8bdec401d', N'Login', NULL, N'Admin logged in', CAST(N'2025-07-09T10:15:29.8479467' AS DateTime2))
INSERT [dbo].[AdminLogs] ([LogId], [AdminId], [Action], [TargetUserId], [Details], [CreatedAt]) VALUES (N'5dbbd56b-23b8-4107-a282-03fe928755be', N'ccbda6a7-698b-4d58-8b02-fad8bdec401d', N'Login', NULL, N'Admin logged in', CAST(N'2025-07-09T08:34:48.1608972' AS DateTime2))
INSERT [dbo].[AdminLogs] ([LogId], [AdminId], [Action], [TargetUserId], [Details], [CreatedAt]) VALUES (N'89d1174c-5266-4e70-b6b6-0b97f90c3021', N'ccbda6a7-698b-4d58-8b02-fad8bdec401d', N'Login', NULL, N'Admin logged in', CAST(N'2025-07-09T10:12:46.6331386' AS DateTime2))
GO
INSERT [dbo].[Admins] ([AdminId], [Username], [Email], [PasswordHash], [FullName], [IsActive], [LastLoginAt], [CreatedAt], [UpdatedAt]) VALUES (N'4b10deeb-7dd2-4f36-8c26-e4c535c1cc5f', N'admin', N'admin@quitsmart.com', N'TKdO3Yeuwst9nV6WvW9akAtboplyXt09FmJZPchmAtM=', N'Administrator', 1, CAST(N'2025-07-09T12:50:12.9412553' AS DateTime2), CAST(N'2025-07-09T12:49:54.8334583' AS DateTime2), CAST(N'2025-07-09T12:50:12.9412846' AS DateTime2))
GO
INSERT [dbo].[BadgeDefinitions] ([BadgeId], [Name], [Description], [IconPath], [BadgeType], [RequiredValue], [IsActive], [CreatedAt]) VALUES (N'640d09f7-8091-4623-9fd0-37a8a793e262', N'Saver 100K', N'Tiết kiệm được 100,000 đồng', N'saver-100k', N'Money', CAST(100000.00 AS Decimal(10, 2)), 1, CAST(N'2025-07-05T10:48:40.0533333' AS DateTime2))
INSERT [dbo].[BadgeDefinitions] ([BadgeId], [Name], [Description], [IconPath], [BadgeType], [RequiredValue], [IsActive], [CreatedAt]) VALUES (N'1837a881-7ad8-4c46-9d65-41725658c6c9', N'One Year', N'1 năm không hút thuốc', N'one-year', N'Days', CAST(365.00 AS Decimal(10, 2)), 1, CAST(N'2025-07-05T10:48:40.0533333' AS DateTime2))
INSERT [dbo].[BadgeDefinitions] ([BadgeId], [Name], [Description], [IconPath], [BadgeType], [RequiredValue], [IsActive], [CreatedAt]) VALUES (N'232e4198-95fd-4d48-8c88-524925700d6c', N'One Week', N'1 tuần không hút thuốc', N'one-week', N'Days', CAST(7.00 AS Decimal(10, 2)), 1, CAST(N'2025-07-05T10:48:40.0533333' AS DateTime2))
GO
INSERT [dbo].[DailyLogs] ([LogId], [UserId], [LogDate], [HasSmoked], [HealthStatus], [Notes], [CreatedAt], [UpdatedAt]) VALUES (N'91727777-6731-45cb-b76f-00363cbc405e', N'c7e84d84-7480-4af5-97d6-234cb3bd2288', CAST(N'2025-04-24' AS Date), 0, N'Poor', N'Đang cố gắng', CAST(N'2025-07-09T08:18:39.4000000' AS DateTime2), CAST(N'2025-07-09T08:18:39.4000000' AS DateTime2))
INSERT [dbo].[DailyLogs] ([LogId], [UserId], [LogDate], [HasSmoked], [HealthStatus], [Notes], [CreatedAt], [UpdatedAt]) VALUES (N'3f01dfab-cded-43ad-acfc-003c6d5ccd57', N'5225f264-21c2-42af-92c7-32fa7efc1218', CAST(N'2025-06-21' AS Date), 0, N'Average', N'Bình thường', CAST(N'2025-07-09T08:18:39.7466667' AS DateTime2), CAST(N'2025-07-09T08:18:39.7466667' AS DateTime2))
INSERT [dbo].[DailyLogs] ([LogId], [UserId], [LogDate], [HasSmoked], [HealthStatus], [Notes], [CreatedAt], [UpdatedAt]) VALUES (N'da8c37e3-5365-480a-8d2e-0093e111da4c', N'51b5ab74-ab5c-4f38-9550-50b1fff823fa', CAST(N'2025-06-29' AS Date), 0, N'Average', N'Cố gắng', CAST(N'2025-07-09T08:18:39.8566667' AS DateTime2), CAST(N'2025-07-09T08:18:39.8566667' AS DateTime2))
GO
INSERT [dbo].[HealthInfo] ([InfoId], [Title], [Content], [InfoType], [IsActive], [CreatedAt]) VALUES (N'f5aeb57f-e9e1-4bc9-95b3-378cf0a92908', N'Thay đổi tích cực trong cơ thể', N'Cơ thể bắt đầu phục hồi ngay khi bạn ngừng hút thuốc. Hệ tuần hoàn cải thiện, phổi làm sạch bản thân, và khả năng ngửi, nếm tăng lên.', N'QuitBenefits', 1, CAST(N'2025-07-05T10:48:40.0600000' AS DateTime2))
INSERT [dbo].[HealthInfo] ([InfoId], [Title], [Content], [InfoType], [IsActive], [CreatedAt]) VALUES (N'28ac8284-ee3a-4873-84ca-7017f4d61705', N'Tác hại của thuốc lá', N'Thuốc lá chứa hơn 7000 hóa chất độc hại, trong đó có hơn 70 chất gây ung thư. Hút thuốc lá làm tăng nguy cơ mắc bệnh tim mạch, ung thư phổi, đột quỵ và nhiều bệnh nghiêm trọng khác.', N'SmokeEffects', 1, CAST(N'2025-07-05T10:48:40.0600000' AS DateTime2))
INSERT [dbo].[HealthInfo] ([InfoId], [Title], [Content], [InfoType], [IsActive], [CreatedAt]) VALUES (N'd463b89a-07ec-4ae4-ab57-7996bb37ce2f', N'Cách vượt qua cơn thèm', N'Khi cảm thấy thèm thuốc: Uống nước, thở sâu, đi bộ, gọi điện cho bạn bè, hoặc làm những việc yêu thích khác để phân tán sự chú ý.', N'Tips', 1, CAST(N'2025-07-05T10:48:40.0600000' AS DateTime2))
GO
INSERT [dbo].[MotivationalMessages] ([MessageId], [Title], [Content], [MessageType], [IsActive], [CreatedAt]) VALUES (N'94851154-904e-4687-a038-184784e6ab5c', N'Chào buổi sáng!', N'Một ngày mới đã bắt đầu! Hãy tiếp tục hành trình cai thuốc của bạn.', N'Daily', 1, CAST(N'2025-07-05T10:48:40.0566667' AS DateTime2))
INSERT [dbo].[MotivationalMessages] ([MessageId], [Title], [Content], [MessageType], [IsActive], [CreatedAt]) VALUES (N'032db4c5-f105-47e7-b49d-2e6eff0a797f', N'Bạn làm được!', N'Mỗi ngày không hút thuốc là một chiến thắng lớn. Hãy tự hào về bản thân!', N'Encouragement', 1, CAST(N'2025-07-05T10:48:40.0566667' AS DateTime2))
INSERT [dbo].[MotivationalMessages] ([MessageId], [Title], [Content], [MessageType], [IsActive], [CreatedAt]) VALUES (N'dee4890d-8672-4c8e-97b5-4a46cc9f8f72', N'Hướng tới tương lai', N'Mỗi ngày không hút thuốc đưa bạn gần hơn với phiên bản tốt nhất của chính mình.', N'Daily', 1, CAST(N'2025-07-05T10:48:40.0566667' AS DateTime2))
GO
INSERT [dbo].[UserBadges] ([UserBadgeId], [UserId], [BadgeId], [EarnedAt], [IsNotified]) VALUES (N'b86bd1f3-a3f2-4f10-adc8-03decd3cbe3c', N'51b5ab74-ab5c-4f38-9550-50b1fff823fa', N'8c104f4f-0032-4b47-b670-ce632da62291', CAST(N'2025-07-09T08:18:39.8400000' AS DateTime2), 0)
INSERT [dbo].[UserBadges] ([UserBadgeId], [UserId], [BadgeId], [EarnedAt], [IsNotified]) VALUES (N'5794de31-651b-477f-b9f3-0879b3646060', N'c7e84d84-7480-4af5-97d6-234cb3bd2288', N'8c104f4f-0032-4b47-b670-ce632da62291', CAST(N'2025-07-09T08:18:39.3300000' AS DateTime2), 0)
INSERT [dbo].[UserBadges] ([UserBadgeId], [UserId], [BadgeId], [EarnedAt], [IsNotified]) VALUES (N'1bc688dd-f8a3-4ea9-a30e-08f1962a00e7', N'2d1b2359-5ac4-4bce-8ebb-5c384c54bb7d', N'2bdeceb1-6cb2-4b67-8b3a-ccc8da79d2eb', CAST(N'2025-07-09T08:18:39.5766667' AS DateTime2), 0)
GO
INSERT [dbo].[UserProfiles] ([ProfileId], [UserId], [QuitStartDate], [QuitGoalDate], [CigarettesPerDay], [PricePerPack], [CigarettesPerPack], [SmokingYears], [QuitReason], [CreatedAt], [UpdatedAt]) VALUES (N'de90c45a-aff7-4343-8df2-0b14f0a8588d', N'16a0746d-9043-45b5-8f84-5244830ebfee', CAST(N'2025-05-10' AS Date), CAST(N'2026-07-09' AS Date), 8, CAST(18000.00 AS Decimal(10, 2)), 20, 3, N'Cải thiện da và răng', CAST(N'2025-07-09T08:18:38.7066667' AS DateTime2), CAST(N'2025-07-09T08:18:38.7066667' AS DateTime2))
INSERT [dbo].[UserProfiles] ([ProfileId], [UserId], [QuitStartDate], [QuitGoalDate], [CigarettesPerDay], [PricePerPack], [CigarettesPerPack], [SmokingYears], [QuitReason], [CreatedAt], [UpdatedAt]) VALUES (N'31c81e01-7d52-441d-ba22-17dba5892b26', N'ab2e09a1-a874-4e5c-b8dd-f10dd1c881cf', CAST(N'2025-06-14' AS Date), CAST(N'2026-07-09' AS Date), 30, CAST(35000.00 AS Decimal(10, 2)), 20, 18, N'Vợ yêu cầu cai', CAST(N'2025-07-09T08:18:38.7066667' AS DateTime2), CAST(N'2025-07-09T08:18:38.7066667' AS DateTime2))
INSERT [dbo].[UserProfiles] ([ProfileId], [UserId], [QuitStartDate], [QuitGoalDate], [CigarettesPerDay], [PricePerPack], [CigarettesPerPack], [SmokingYears], [QuitReason], [CreatedAt], [UpdatedAt]) VALUES (N'a1e2969d-0d62-48a0-9c27-220042c65e7f', N'910be710-8510-4819-9278-09b6a2d4d572', CAST(N'2025-07-04' AS Date), CAST(N'2026-07-09' AS Date), 28, CAST(40000.00 AS Decimal(10, 2)), 20, 22, N'Tuổi tác và sức khỏe suy giảm', CAST(N'2025-07-09T08:18:38.7066667' AS DateTime2), CAST(N'2025-07-09T08:18:38.7066667' AS DateTime2))
GO
INSERT [dbo].[Users] ([UserId], [Username], [Email], [PasswordHash], [FullName], [DateOfBirth], [Gender], [IsActive], [CreatedAt], [UpdatedAt]) VALUES (N'96fc3126-30ac-4346-8e46-02ba9eb40227', N'doanvani', N'doanvani@email.com', N'TKdO3Yeuwst9nV6WvW9akAtboplyXt09FmJZPchmAtM=', N'Đoàn Văn I', CAST(N'1989-08-05' AS Date), N'Male', 1, CAST(N'2025-05-25T15:18:38.7033333' AS DateTime2), CAST(N'2025-07-09T08:37:27.7000000' AS DateTime2))
INSERT [dbo].[Users] ([UserId], [Username], [Email], [PasswordHash], [FullName], [DateOfBirth], [Gender], [IsActive], [CreatedAt], [UpdatedAt]) VALUES (N'910be710-8510-4819-9278-09b6a2d4d572', N'caovano', N'caovano@email.com', N'TKdO3Yeuwst9nV6WvW9akAtboplyXt09FmJZPchmAtM=', N'Cao Văn O', CAST(N'1983-09-07' AS Date), N'Male', 1, CAST(N'2025-07-04T15:18:38.7033333' AS DateTime2), CAST(N'2025-07-09T08:37:27.7000000' AS DateTime2))
INSERT [dbo].[Users] ([UserId], [Username], [Email], [PasswordHash], [FullName], [DateOfBirth], [Gender], [IsActive], [CreatedAt], [UpdatedAt]) VALUES (N'bab417f9-5e76-4bee-abd9-0ad5f800b232', N'tranthib', N'tranthib@email.com', N'TKdO3Yeuwst9nV6WvW9akAtboplyXt09FmJZPchmAtM=', N'Trần Thị B', CAST(N'1988-03-22' AS Date), N'Female', 1, CAST(N'2024-07-24T15:18:38.7033333' AS DateTime2), CAST(N'2025-07-09T08:37:27.7000000' AS DateTime2))
GO
INSERT [dbo].[UserStatistics] ([StatId], [UserId], [TotalDaysQuit], [TotalMoneySaved], [CurrentStreak], [LongestStreak], [LastCalculatedAt], [UpdatedAt]) VALUES (N'f4cccc81-897b-42e4-b452-0f80bd9f0c8f', N'ab2e09a1-a874-4e5c-b8dd-f10dd1c881cf', 7, CAST(367500.00 AS Decimal(10, 2)), 0, 3, CAST(N'2025-07-09T08:22:48.9333333' AS DateTime2), CAST(N'2025-07-09T08:22:48.9333333' AS DateTime2))
INSERT [dbo].[UserStatistics] ([StatId], [UserId], [TotalDaysQuit], [TotalMoneySaved], [CurrentStreak], [LongestStreak], [LastCalculatedAt], [UpdatedAt]) VALUES (N'74eeeba9-b448-4820-840e-1fd8ef142487', N'2d1b2359-5ac4-4bce-8ebb-5c384c54bb7d', 94, CAST(940000.00 AS Decimal(10, 2)), 9, 15, CAST(N'2025-07-09T08:22:48.9300000' AS DateTime2), CAST(N'2025-07-09T08:22:48.9300000' AS DateTime2))
INSERT [dbo].[UserStatistics] ([StatId], [UserId], [TotalDaysQuit], [TotalMoneySaved], [CurrentStreak], [LongestStreak], [LastCalculatedAt], [UpdatedAt]) VALUES (N'2a69e8ff-0faa-457a-b2c9-2d5039ad1523', N'459c10b4-14cc-487f-8cd7-5606d034b6df', 5, CAST(192000.00 AS Decimal(10, 2)), 5, 5, CAST(N'2025-07-09T08:22:48.9300000' AS DateTime2), CAST(N'2025-07-09T08:22:48.9300000' AS DateTime2))
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Admins__536C85E40C3BB53C]    Script Date: 7/9/2025 8:49:28 PM ******/
ALTER TABLE [dbo].[Admins] ADD UNIQUE NONCLUSTERED 
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Admins__A9D10534843DE68B]    Script Date: 7/9/2025 8:49:28 PM ******/
ALTER TABLE [dbo].[Admins] ADD UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ__DailyLog__3368CB927BC8F265]    Script Date: 7/9/2025 8:49:28 PM ******/
ALTER TABLE [dbo].[DailyLogs] ADD UNIQUE NONCLUSTERED 
(
	[UserId] ASC,
	[LogDate] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ__UserBadg__C6194E78310B6B37]    Script Date: 7/9/2025 8:49:28 PM ******/
ALTER TABLE [dbo].[UserBadges] ADD UNIQUE NONCLUSTERED 
(
	[UserId] ASC,
	[BadgeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Users__536C85E434E94D9C]    Script Date: 7/9/2025 8:49:28 PM ******/
ALTER TABLE [dbo].[Users] ADD UNIQUE NONCLUSTERED 
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Users__A9D10534C454400B]    Script Date: 7/9/2025 8:49:28 PM ******/
ALTER TABLE [dbo].[Users] ADD UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ__UserStat__1788CC4DB085D0D1]    Script Date: 7/9/2025 8:49:28 PM ******/
ALTER TABLE [dbo].[UserStatistics] ADD UNIQUE NONCLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[AdminLogs] ADD  DEFAULT (newid()) FOR [LogId]
GO
ALTER TABLE [dbo].[AdminLogs] ADD  DEFAULT (getutcdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Admins] ADD  DEFAULT (newid()) FOR [AdminId]
GO
ALTER TABLE [dbo].[Admins] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Admins] ADD  DEFAULT (getutcdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Admins] ADD  DEFAULT (getutcdate()) FOR [UpdatedAt]
GO
ALTER TABLE [dbo].[BadgeDefinitions] ADD  DEFAULT (newid()) FOR [BadgeId]
GO
ALTER TABLE [dbo].[BadgeDefinitions] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[BadgeDefinitions] ADD  DEFAULT (getutcdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[DailyLogs] ADD  DEFAULT (newid()) FOR [LogId]
GO
ALTER TABLE [dbo].[DailyLogs] ADD  DEFAULT ((0)) FOR [HasSmoked]
GO
ALTER TABLE [dbo].[DailyLogs] ADD  DEFAULT (getutcdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[DailyLogs] ADD  DEFAULT (getutcdate()) FOR [UpdatedAt]
GO
ALTER TABLE [dbo].[HealthInfo] ADD  DEFAULT (newid()) FOR [InfoId]
GO
ALTER TABLE [dbo].[HealthInfo] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[HealthInfo] ADD  DEFAULT (getutcdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[MotivationalMessages] ADD  DEFAULT (newid()) FOR [MessageId]
GO
ALTER TABLE [dbo].[MotivationalMessages] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[MotivationalMessages] ADD  DEFAULT (getutcdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[UserBadges] ADD  DEFAULT (newid()) FOR [UserBadgeId]
GO
ALTER TABLE [dbo].[UserBadges] ADD  DEFAULT (getutcdate()) FOR [EarnedAt]
GO
ALTER TABLE [dbo].[UserBadges] ADD  DEFAULT ((0)) FOR [IsNotified]
GO
ALTER TABLE [dbo].[UserProfiles] ADD  DEFAULT (newid()) FOR [ProfileId]
GO
ALTER TABLE [dbo].[UserProfiles] ADD  DEFAULT ((20)) FOR [CigarettesPerPack]
GO
ALTER TABLE [dbo].[UserProfiles] ADD  DEFAULT (getutcdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[UserProfiles] ADD  DEFAULT (getutcdate()) FOR [UpdatedAt]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT (newid()) FOR [UserId]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT (getutcdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT (getutcdate()) FOR [UpdatedAt]
GO
ALTER TABLE [dbo].[UserStatistics] ADD  DEFAULT (newid()) FOR [StatId]
GO
ALTER TABLE [dbo].[UserStatistics] ADD  DEFAULT ((0)) FOR [TotalDaysQuit]
GO
ALTER TABLE [dbo].[UserStatistics] ADD  DEFAULT ((0)) FOR [TotalMoneySaved]
GO
ALTER TABLE [dbo].[UserStatistics] ADD  DEFAULT ((0)) FOR [CurrentStreak]
GO
ALTER TABLE [dbo].[UserStatistics] ADD  DEFAULT ((0)) FOR [LongestStreak]
GO
ALTER TABLE [dbo].[UserStatistics] ADD  DEFAULT (getutcdate()) FOR [LastCalculatedAt]
GO
ALTER TABLE [dbo].[UserStatistics] ADD  DEFAULT (getutcdate()) FOR [UpdatedAt]
GO
ALTER TABLE [dbo].[DailyLogs]  WITH CHECK ADD FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UserBadges]  WITH CHECK ADD FOREIGN KEY([BadgeId])
REFERENCES [dbo].[BadgeDefinitions] ([BadgeId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UserBadges]  WITH CHECK ADD FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UserProfiles]  WITH CHECK ADD FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UserStatistics]  WITH CHECK ADD FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[DailyLogs]  WITH CHECK ADD CHECK  (([HealthStatus]='Poor' OR [HealthStatus]='Average' OR [HealthStatus]='Good'))
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD CHECK  (([Gender]='Other' OR [Gender]='Female' OR [Gender]='Male'))
GO
/****** Object:  StoredProcedure [dbo].[CalculateUserStatistics]    Script Date: 7/9/2025 8:49:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- SECTION 8: STORED PROCEDURES
-- =============================================

-- Calculate user statistics
CREATE PROCEDURE [dbo].[CalculateUserStatistics]
    @UserId UNIQUEIDENTIFIER
AS
BEGIN
    SET NOCOUNT ON;
    
    DECLARE @QuitStartDate DATE;
    DECLARE @CigarettesPerDay INT;
    DECLARE @PricePerPack DECIMAL(10,2);
    DECLARE @CigarettesPerPack INT;
    
    -- Get smoking profile info
    SELECT 
        @QuitStartDate = [QuitStartDate],
        @CigarettesPerDay = [CigarettesPerDay],
        @PricePerPack = [PricePerPack],
        @CigarettesPerPack = [CigarettesPerPack]
    FROM [UserProfiles]
    WHERE [UserId] = @UserId;
    
    IF @QuitStartDate IS NULL
        RETURN;
    
    DECLARE @TotalDaysQuit INT;
    DECLARE @TotalMoneySaved DECIMAL(10,2);
    DECLARE @CurrentStreak INT;
    DECLARE @LongestStreak INT;
    
    -- Calculate total days quit (days without smoking)
    SELECT @TotalDaysQuit = COUNT(*)
    FROM [DailyLogs]
    WHERE [UserId] = @UserId AND [HasSmoked] = 0;
    
    -- Calculate current streak
    WITH RecentLogs AS (
        SELECT [LogDate], [HasSmoked],
               ROW_NUMBER() OVER (ORDER BY [LogDate] DESC) as rn
        FROM [DailyLogs]
        WHERE [UserId] = @UserId
    )
    SELECT @CurrentStreak = COUNT(*)
    FROM RecentLogs
    WHERE rn <= (
        SELECT ISNULL(MIN(rn) - 1, 999999)
        FROM RecentLogs
        WHERE [HasSmoked] = 1
    );
    
    -- Calculate longest streak
    WITH StreakGroups AS (
        SELECT [LogDate], [HasSmoked],
               ROW_NUMBER() OVER (ORDER BY [LogDate]) - 
               ROW_NUMBER() OVER (PARTITION BY CASE WHEN [HasSmoked] = 0 THEN 1 ELSE 0 END ORDER BY [LogDate]) as grp
        FROM [DailyLogs]
        WHERE [UserId] = @UserId
    )
    SELECT @LongestStreak = ISNULL(MAX(streak_length), 0)
    FROM (
        SELECT COUNT(*) as streak_length
        FROM StreakGroups
        WHERE [HasSmoked] = 0
        GROUP BY grp
    ) streaks;
    
    -- Calculate money saved
    DECLARE @TotalCigarettesAvoided INT = @TotalDaysQuit * @CigarettesPerDay;
    SET @TotalMoneySaved = (@TotalCigarettesAvoided * @PricePerPack) / @CigarettesPerPack;
    
    -- Update or insert statistics
    MERGE [UserStatistics] AS target
    USING (SELECT @UserId as UserId) AS source
    ON target.[UserId] = source.UserId
    WHEN MATCHED THEN
        UPDATE SET
            [TotalDaysQuit] = @TotalDaysQuit,
            [TotalMoneySaved] = @TotalMoneySaved,
            [CurrentStreak] = @CurrentStreak,
            [LongestStreak] = @LongestStreak,
            [LastCalculatedAt] = GETUTCDATE(),
            [UpdatedAt] = GETUTCDATE()
    WHEN NOT MATCHED THEN
        INSERT ([UserId], [TotalDaysQuit], [TotalMoneySaved], [CurrentStreak], [LongestStreak], [LastCalculatedAt])
        VALUES (@UserId, @TotalDaysQuit, @TotalMoneySaved, @CurrentStreak, @LongestStreak, GETUTCDATE());
END
GO
/****** Object:  StoredProcedure [dbo].[CheckAndAwardBadges]    Script Date: 7/9/2025 8:49:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Check and award badges
CREATE PROCEDURE [dbo].[CheckAndAwardBadges]
    @UserId UNIQUEIDENTIFIER
AS
BEGIN
    SET NOCOUNT ON;
    
    -- Get user statistics
    DECLARE @TotalDaysQuit INT, @MoneySaved DECIMAL(10,2), @CurrentStreak INT;
    
    SELECT 
        @TotalDaysQuit = [TotalDaysQuit],
        @MoneySaved = [TotalMoneySaved],
        @CurrentStreak = [CurrentStreak]
    FROM [UserStatistics]
    WHERE [UserId] = @UserId;
    
    -- Award badges based on days quit
    INSERT INTO [UserBadges] ([UserId], [BadgeId], [EarnedAt])
    SELECT @UserId, bd.[BadgeId], GETUTCDATE()
    FROM [BadgeDefinitions] bd
    WHERE bd.[BadgeType] = 'Days'
        AND bd.[IsActive] = 1
        AND bd.[RequiredValue] <= @TotalDaysQuit
        AND NOT EXISTS (
            SELECT 1 FROM [UserBadges] ub 
            WHERE ub.[UserId] = @UserId AND ub.[BadgeId] = bd.[BadgeId]
        );
    
    -- Award badges based on money saved
    INSERT INTO [UserBadges] ([UserId], [BadgeId], [EarnedAt])
    SELECT @UserId, bd.[BadgeId], GETUTCDATE()
    FROM [BadgeDefinitions] bd
    WHERE bd.[BadgeType] = 'Money'
        AND bd.[IsActive] = 1
        AND bd.[RequiredValue] <= @MoneySaved
        AND NOT EXISTS (
            SELECT 1 FROM [UserBadges] ub 
            WHERE ub.[UserId] = @UserId AND ub.[BadgeId] = bd.[BadgeId]
        );
    
    -- Award badges based on streak
    INSERT INTO [UserBadges] ([UserId], [BadgeId], [EarnedAt])
    SELECT @UserId, bd.[BadgeId], GETUTCDATE()
    FROM [BadgeDefinitions] bd
    WHERE bd.[BadgeType] = 'Streak'
        AND bd.[IsActive] = 1
        AND bd.[RequiredValue] <= @CurrentStreak
        AND NOT EXISTS (
            SELECT 1 FROM [UserBadges] ub 
            WHERE ub.[UserId] = @UserId AND ub.[BadgeId] = bd.[BadgeId]
        );
END
GO
